.Blogs-area-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Blogs-area{
    padding: 6rem 0 6rem 0;
}
.Blogs-cards{
    /* margin-bottom: 3.75rem; */

}

.blogs-row{
    margin-bottom: 3.75rem;
}
