.cta-container {
    overflow: hidden;
    background-position: left;
    position: relative;
    text-align: left;
    margin-bottom: 6rem;
}

.cta-container::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url('../../Images/CTA-background.png');
    border: 1.5rem solid var(--essential-white, #ffffff);
    border-radius: 2rem;
}

.cta-area-col2::before {
    position: absolute;
    z-index: 1;
    content: "";
    border: 1.5rem solid var(--essential-white, #ffffff);
    width: 100%;
    height: 100%;
    background-color: var(--primary-shade-1, #FFD700);
    transform: translateX(25%) skew(-30deg);
    border-radius: 2rem;
}

.cta-area-col2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cta-area-content {
    padding: 6rem;
}

.cta-area-title {
    margin-left: 10%;
    position: relative;
    z-index: 2;
    color: var(--essential-black, #000A1A);
    font-family: DM Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: capitalize;
}

.cta-area-subtitle {
    position: relative;
    z-index: 2;
    color: var(--essential-black, #000A1A);
    font-family: DM Sans;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 160%;
    margin-top: 1rem;
    /* text-align: center; */
}

.cta-area-button {
    position: relative;
    z-index: 2;
    margin-left: -10%;
    margin-top: 2rem;
}

/* Responsive adjustments */
@media (max-width: 767px) {
    .cta-area-col2::before {
        transform: translateX(50%) skew(35deg);
    }
    .cta-area-col2{
        align-items: end;
        justify-content: end;
    }
    .cta-container {
        /* margin-bottom: 3rem; */
    }

    .cta-container::before {
        /* border-radius: 1rem; */
    }

    .cta-area-content {
        /* padding: 3rem; */
        padding: 4rem 0rem 6rem 0rem;
    }

    .cta-area-title {
        margin-left: -15%; /* Center align title on smaller screens */
        /* text-align: center; */
        font-size: 1rem;
    }
    .cta-area-subtitle{
        font-size: .75rem;
        margin-left: 5%;
    }
    
    .cta-area-content{
        margin: 1rem;
    }
   
}
