.blog-hero-part {
    background-image: url('../../Images/Blog/blog_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 2rem; */
    background-color: (--greyscale-shade-4, #F8F9FA);
    position: relative;
    z-index: 1;
}

.blog-hero-overlay{
    background-color: #00000033;
    /* opacity: 0.2; */
    position: absolute;
    
    width: 100%;
    height: 100%;
    z-index: 1;
}
.blog-hero-text-area {
    position: relative;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;

    padding-bottom: 0;
}

.blog-hero-text-area p {
    color: var(--essential-white, #FFF);
    text-align: center;
    font-family: DM Sans;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    /* 4.95rem */
    text-transform: capitalize;
    
}
.blog-hero-text-area{
    margin-top: 15rem;
    margin-bottom: 15rem;
}

.estimate-btn button{
    border: none;
    background-color: transparent;
    padding: 0;

}
.estimate-btn{
    position: absolute;
    top: 40%;
    left: 0;
    width: 8.75rem;
    z-index: -1;
}
.estimate-btn-text{
    position: absolute;
    top: 31.5%;
    left: 0;
    padding-left: .7rem;
    /* padding-bottom: 7rem; */
}
.free-text{
    color: var(--essential-black, #000A1A);
    font-family: DM Sans;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 2.1rem */
    text-transform: capitalize;
}
.estimate-text{
    color: var(--essential-black, #000A1A);

    /* Paragraph/P 2 */
    font-family: DM Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 1.4rem */
}
.overlay-btn{

}
.overlay-btn-border{
    position: absolute;
    top: 10%;

}
.blog-hero-part-overlay{
    /* border-radius: 0.5rem; */
    position: absolute;
    top: 50%;
    left: 8.5rem;
    width: 31.5rem;
    height: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    

}
.blog-hero-part-overlay .consultation-area-container{
    /* width: 80%; */
}

.blog-hero-part-overlay .consultation-area-title{
    font-size: 1.5rem;
    
}
.blog-hero-part-overlay .consultation-area-subtitle{
    font-size: 0.875rem;
}
.blog-hero-part-overlay .consultation-form{
    padding: 3rem;
    border-radius: .5rem;
}
.blog-hero-part-overlay .consultation-form-close-btn{
    display: block;
}
@media (max-width: 767px) {
    .blog-hero-text-area p {
        font-size: 2.5rem;
    }

}