.testimonial-area-card-text {
    color: var(--greyscale-shade-1, #52637A);

    /* Paragraph/P 1 */
    font-family: DM Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 1.6rem */
    min-height: 13rem;
    
}
.testimonial-area-card-container{
    background-color: var(--essential-white, #FFF);
    padding: 2.5rem;
    border-radius: 0.5rem;
    margin-top: 4rem;
    min-height: 35rem;
}

.reviewer-profile {
    /* border-radius: 31.25rem; */
    padding: 1rem;
    /* margin-top: 9rem; */
    border-radius: 4.75rem;
    /* border: 8px solid var(--greyscale-shade-4, #F8F9FA); */
    background: var(--essential-white, #FFF);
    border: 8px solid var(--greyscale-shade-4, #F8F9FA);
    display: flex;
    max-width: 30.75rem;
    height: 6.75rem;
}
.reviewer-details{
    margin-left: 1rem;
}
.reviewer-profile img {
    width: 3.75rem;
    height: 3.75rem;
    /* border-radius: 50%; */

}

.reviewer-name {
    color: var(--essential-black, #000A1A);

    /* Title/T 2 */
    font-family: DM Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    /* line-height: 1.75rem; */
    /* 1.75rem */
}

.reviewer-title {
    color: var(--greyscale-shade-1, #52637A);

    /* Paragraph/P 2 */
    font-family: DM Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    margin-top: -1rem;
    /* line-height: 1.4rem; */
    /* 1.4rem */
}