.cta2-container1 {
  background: url("../../Images/CTA-background.png") no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  min-height: 100vh;
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
}

.cta2-container2 {
  background: url("../../Images/CTA-background.png") no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative;
  height: 600px;
  display:block;
}