.card2-img-container {
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    /* max-height: 30rem; */
    /* min-height: 20rem; */
    max-width: 23rem;
    overflow: hidden;
    border-radius: 0.5rem;
    margin: 1rem;
}

.card2-container-img {
    /* min-height: 23rem; */
    max-height: 28.75rem;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
}

.card2-body-underline {
    height: 0.25rem;
    width: 2rem;
    margin-left: 1rem;
    padding: 0;
    display: none;
}

.card2-container {
    &:hover {
        transform: translateY(-4rem);
        /* transform: translateZ(1rem); */
        max-height: 28.75rem;
        /* height: 80%; */
        /* max-height: min-content; */
        transition: all 0.5s ease-in-out;

        .card2-body {
            /* margin-left: 1.75rem; */
            color: var(--greyscale-shade-1, #52637A);
            /* transition: all 0.5s ease-in-out; */
        }

        /* .card2-img-container{
            width: 100%;
        } */
        .card2-title {
            display: none;
        }

        .card2-body-title {
            transform: translateY(0);
            transition: all 0.3s ease-in-out;
            color: var(--essential-black, #000A1A);
            /* Title/T 1 */
            font-family: DM Sans;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            /* 1.8rem */
            text-transform: capitalize;
        }

        .card2-body-link {
            transition: all 0.1s ease-in-out;
            transition-delay: .3s;
            /* background: var(--greyscale-shade-4, #F4F5F6); */
            color: var(--greyscale-shade-1, #52637A);
            border-bottom: 2px solid #52637A;
            padding: 10px;
            /* margin-bottom: 0; */
            &:hover {
                border: 2px solid #52637A;
                /* padding: 10px; */
                background-color: #9e896a24;
                color: var(--essential-black, #000A1A);
                transition: border 0.3s ease-in;
            }
        }
    }

}

.card2-body-link {
    text-decoration: none;
    border-bottom: 2px solid #F4F5F6;
    /* background: var(--greyscale-shade-4, #F4F5F6); */
    /* color: #F4F5F6; */
    color: #F4F5F6;


}

.card2-container {
    margin: 2rem 0 5rem 0;
    position: relative;
    /* Added */
    /* max-width: 140%; */
    /* overflow: hidden; */
}

.card2-title {
    position: absolute;
    bottom: 0.5rem;
    /* Adjust as needed */
    left: 0.5rem;
    /* Adjust as needed */
    color: var(--essential-white, #FFF);
    font-family: DM Sans;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 1.8rem */
    text-transform: capitalize;
    z-index: 1;
    padding: 0.5rem;
    text-shadow: 2px 2px 2px rgb(69, 69, 69);
}

.card2-body {
    /* display: none; */
    color: #F4F5F6;
    margin: 1rem;
    width: 90%;
    text-align: justify;
}

.card2-body-text {


    /* Paragraph/P 1 */
    font-family: DM Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 1.6rem */
    text-transform: capitalize;
}
.card2-img-overlay {
    display: none;
}
@media screen and (max-width: 767px) {
    .card2-img-container {
        flex-direction: column;
        margin-bottom: 0;
        height: 22rem;
        /* width: 100%; */
    }

    .card2-title {
        font-size: 1.2rem;
    }

    .card2-container {
        &:hover {
            margin-bottom: 12rem;
            transform: translateY(0);
            transition: all 0.3s ease-in-out;
            .card2-body-title {
                margin-left: 1rem;
                /* display: none; */
            }
            .card2-body-link{
                margin-left: 1.25rem;
            }
            .card2-body-underline {
                margin-left: 2.25rem;
                /* width: 2rem; */
                /* margin-bottom: 10rem; */
            }
            .card2-body-text {
                display: block;
                
            }
            .card2-img-overlay{
                display: none;
            }
        }
    }

    .card2-container {
        margin: 0.5rem;
        
    }

    .card2-body-text {
        display: none;
        color: var(--greyscale-shade-1, #52637A);
        /* width: 100%; */
        margin-left: 1.25rem;
    }

    .card2-container-img {
        width: 18rem;
        /* justify-content: center; */
        /* margin-left: 0rem;
        margin-right: 1.75rem; */
        /* width: 20rem; */
    }
    .card2-img-overlay{
        position: absolute;
        display: block;
        color: var(--essential-white, #FFF);
        font-weight: 500;
        background-color: #52637a5c;
        padding: 1rem;
        border-radius: 2rem;
        
    }
}